header
{width: 100%;
height: 150px;
background: rgb(255, 178, 127);
text-align: center;
font-size: 50px;}

nav
{width: 100%;
height: 50px;
background: rgb(255, 166, 0);
margin-top: 0px;
padding-left: 50px;
position: center;}

main
{width: 100%;
height: 50px;
background: rgb(64, 151, 151);
margin-top: 30px;
padding-left: 50px;}

section
{width: 100%;
height: 50px;
background: rgb(64, 158, 2);
margin-top: 30px;
padding-left: 50px;}

article
{width: 100%;
height: 50px;
background: rgb(255, 153, 0);
margin-top: 30px;
padding-left: 50px;}

aside
{width: 100%;
height: 50px;
background: rgb(64, 52, 131);
margin-top: 30px;
padding-left: 50px;}